
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/myCSS/Header.css" />
</head>
<body>
    <div class="HeaderContainer">
        <h1>Hey</h1>
        <h1>Again</h1>
        <div class="LogosContainer">
            <a href=""><img src="~/Images/SitePic/Header/home.png" /></a>
            <a href=""><img src="~/Images/SitePic/Header/home.png" /></a>
        </div>
    </div>
    @RenderBody()
</body>
</html>
