@model IAExternalDb.Models.Post

<div class="Post">
    <img src="~/Images/Posts/@Model.PostImage" />
    <p>@Model.LikesList.Count Likes</p>
    <button class="LikeButton">Like this</button>
</div>


